* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

.cart {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.product:last-child {
    border-bottom: none;
}

.product img {
    width: 80px;
    border-radius: 5px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-actions {
    display: flex;
    align-items: center;
}

.product-actions a {
    padding: 0 10px;
}

.close {
    margin-left: auto;
    font-size: 0.7rem;
}

.summary {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary p {
    margin-bottom: 15px;
}

.back-to-shop {
    text-align: center;
    margin-top: 30px;
}

h5 {
    margin-top: 20px;
}

hr {
    margin-top: 15px;
}

form {
    padding: 20px 0;
}

select,
input {
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #f8f9fa;
}

input:focus::placeholder {
    color: transparent;
}

.btn {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #495057;
}

a {
    color: #343a40;
    text-decoration: none;
}

a:hover {
    color: #343a40;
    text-decoration: underline;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #508E46 !important;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}
